<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="service" class="aop.example5.ServiceImpl" />
	
	<aop:aspectj-autoproxy>
		<aop:include name="targetLogger"/>
		<aop:include name="methodLogger"/>
		<aop:include name="argumentsLogger"/>
	</aop:aspectj-autoproxy>
	
	<bean id="targetLogger" class ="aop.example5.TargetLogger" />
	<bean id="methodLogger" class ="aop.example5.MethodNameLogger" />
	<bean id="argumentsLogger" class ="aop.example5.MethodArgumentsLogger" />

</beans>
